table, th, td {
    border: 1px solid #a8b2bd;
    border-collapse: collapse;
}

.table {
    margin : 20px;
}
.container {
    margin: auto;
    width: 50%;
}

.button {
    padding: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}